@import "tailwindcss";

@theme {
  --font-sans:  sans-serif, "Poppins";
  --font-weight-bold: 700; 
}

#root {
  width: 100vw;
  height: 100vw;
}

body {
  margin: 0;
}

.noscrollbar {
  overflow-x: auto;
  scrollbar-width: none;
}

.noscrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}